{% extends "layout.html" %}
{% block title %}We are tracking these price for you!{% endblock %}

{% block body %}
  <h2>{{ self.title() }}</h2>

  <ul class="following_products">
  {% for following_product in following_products %}
    <li>
      <p><srong>Product: </srong><span><a href="{{ following_product.url_product }}">{{ following_product.url_product }}</a></span></p>
      <p><srong>Submitted Price: </srong><span>{{ following_product.current_price }}</span></p>
      <p><srong>Desired Price:</srong><span> {{ following_product.desired_price }}</span></p>
    </li>
  {% endfor %}
  </ul>
  
{% endblock %}
