{% extends "layout.html" %}
{% block title %}Following{% endblock %}

{% block body %}
  <h2>We are tracking these price for you!</h2>

  <ul class="following_products">
  {% for following_product in following_products %}
    <li>
      <p><srong>Product: </srong><span><a href="{{ following_product.url_product }}">{{ following_product.url_product }}</a></span></p>
      <p><srong>Submitted Price: </srong><span>{{ following_product.submited_price }}</span></p>
      <p><srong>Desired Price:</srong><span> {{ following_product.desired_price }}</span></p>
      <form action="stop_follow" method="post">
        <input type="submit" value="Stop" class="btstop">
      </form>
    </li>
  {% endfor %}
  </ul>
  
{% endblock %}
